# Folder view configuration files
.DS_Store

# Thumbnail cache files
Thumbs.db

# Sensitive files
.env

# IntelliJ IDEA
.idea/

# VS Code
.vscode/

# pyenv
.python-version

# Byte-compiled / optimized / DLL files
*$py.class
*.py[cod]
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
